@media (min-width: 1537px) {
    .carousel-caption {
        position: absolute;
        left: 6.5rem;
        transform: translateY(-50%);
        padding: 20px;
        color: rgb(255, 255, 255);
        width: 45%;
        max-width: 450px;
        text-align: start;
        top: 45% !important;
    }

    .carve_body_text img {
        width: 72% !important;
    }

    .carve_body_text img {
        margin-top: -0.2rem !important;
        margin-left: 13px !important;
    }

    .fb-page {
        height: 600px;
    }

    .fristSectionImage img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .img-fluidss {
        width: 82%;
    }

    .flexCardImg {
        margin: 0px 0px 40px 18px;
    }
}

@media (max-width: 1536px) {
    .carveNextSectionP {
        font-size: 16px;
    }
    p.paragrapSecondSec {
        line-height: 166%;
        font-size: 14px;
    }
    .img-fluidss {
        width: 93%;
    }
    .upodestaP {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .flexText {
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }
    .carousel-caption {
        position: absolute;
        left: 6.5rem;
        transform: translateY(-50%);
        padding: 17px;
        color: rgb(255, 255, 255);
        width: 45%;
        max-width: 450px;
        text-align: start;
        top: 50% !important;
    }

    .custom-carousel-content h1 {
        font-size: 29px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 40px;
        padding-top: 10px;
    }

    .navbarHeaderText {
        font-size: 16px;
        color: rgb(255, 255, 255);
    }

    .footerLogo {
        margin-top: 6px;
    }

    .tab-heading {
        font-size: 40px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        font-size: 14px !important;
    }

    .custom-bg {
        height: 100%;
    }

    .card-img-wrapper {
        position: relative;
        width: 100%;
        padding-top: 114%;
        overflow: hidden;
    }

    .headLineDescription {
        font-size: 14px;
        line-height: 25px;
    }

    .menu {
        font-size: 14px;
    }
    .carveNextSectionH3 {
        font-size: 20px;
        line-height: 160%;
    }
    .tab_section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 1280px) {
    .custom-carousel-content h1 {
        font-weight: bold;
        font-size: 27px !important;
        line-height: 34px !important;
    }

    .carveNextSectionH3 {
        font-size: 22px;
        color: rgb(249, 119, 0);
        font-weight: bold;
        margin-top: 25px;
    }

    .carveNextSectionP {
        font-size: 14px;
    }

    .menu {
        font-size: 12px !important;
    }

    .transparent-dropdown .dropdown-menu {
        font-size: 8px !important;
    }

    .navbarHeaderText {
        font-size: 13px;
    }

    .navImage {
        height: 58px !important;
        width: 58px !important;
    }

    .carousel-caption {
        left: 5.5rem;
        top: 50% !important;
    }

    .left-1 {
        margin-top: 0px !important;
    }

    .footerLogo {
        margin-top: 7px;
    }

    .footerLogoText {
        margin-top: 4px !important;
    }

    .widLogoText {
        margin-top: 5px !important;
    }

    .gov_logo img {
        max-width: 100px;
        object-fit: fill;
        margin: 10px;
    }

    .custom-bg {
        height: 100%;
    }

    .serviceImg p {
        font-size: 16px;
    }

    .fristSectionHeadingTwo {
        line-height: 38px;
        font-weight: bold;
    }

    .updestsBtn {
        padding: 5px 6px;
        font-family: Arial !important;
    }

    .carve-text h5 {
        border-bottom: 2px solid rgb(249, 119, 0);
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .carve_body {
        font-size: 11px;
        padding-top: 10px !important;
    }

    .carve_body_text img {}

    .flexText {
        padding: 0px;
        /* font-size: 8px; */
        margin: 0px 0px 5px;
        font-family: Arial !important;
    }

    .fristSectionImageHw {
        width: 100%;
        height: 52%;
        object-fit: fill;
    }

    .tab-heading {
        font-size: 40px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        font-size: 14px !important;
    }

    .horizontal-menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "Anek Bangla", sans-serif;
        font-size: 14px;
        line-height: 21px;
    }

    .carve-text h5 {
        border-bottom: 2px solid rgb(249, 119, 0);
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 1024px) {
    .carousel-inner-imgs {
        padding-top: 0;
    }

    .carveNextSectionH3 {
        font-size: 22px;
        color: rgb(249, 119, 0);
        font-weight: bold;
        margin-top: 25px;
    }

    .carveNextSectionP {
        font-size: 14px;
    }

    .navImage {
        height: 45px !important;
        width: 45px !important;
    }

    .fristNavbar {
        display: none !important;
    }

    .sliderMargin {
        margin-top: 0px !important;
    }

    .background_color_nav {
        background-color: rgb(0, 67, 130) !important;
        align-items: flex-start !important;
    }
    .background_color_nav .container-fluid.mx-2.px-3  {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .navbar-collapse-menu-item {
        min-height: 100vh !important;
    }

    .scrolled {
        opacity: 1 !important;
        background-color: rgb(0, 67, 130) !important;
    }

    #carouselExampleControls .carousel-inner .carousel-item img {
        /* height: 450px; */
        object-fit: fill;
    }

    .sliderMargin {
        margin-top: 66px !important;
    }

    .carousel-caption {
        left: 5.5rem;
        top: 39% !important;
    }

    .custom-carousel-content h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .custom-carousel-content p {
        font-size: 12px;
        line-height: 15px;
    }

    .custom-btn-width {
        width: 130px;
    }

    .gov_logo img {
        max-width: 100px;
        object-fit: fill;
        margin: 0px !important;
    }

    .footerLogo {
        margin-top: 16px;
    }

    .custom-bg {
        height: 100%;
    }

    .flexText {
        padding: 0px;
        /* font-size: 9px; */
        margin: 0px 0px 3px;
    }

    .updestsBtn {
        display: inline-block;
        padding: 5px;
        background-color: rgb(245, 245, 245);
        color: rgb(51, 51, 51);
        font-size: 10px;
        cursor: pointer;
        text-decoration: none;
        line-height: 11.8px;
        border: 1px solid rgb(185, 185, 185);
        font-family: Arial !important;
    }

    .upodestaP {
        /* font-size: 10px; */
    }

    .parentSecFistDiv {
        padding: 0px;
    }

    .carveNextSectionH3 {
        font-size: 15px !important;
    }

    .flexText {
        padding: 0px;
        /* font-size: 7px; */
        margin: 0px 0px 8px;
    }

    .paragrapSecondSec {
        font-size: 12px;
        line-height: 22px;
    }

    .carve-text h5 {
        border-bottom: 2px solid rgb(249, 119, 0);
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .carve_body p {
        font-size: 9px;
    }

    .carve_body_text {
        margin-left: 10px !important;
        margin-right: 0px !important;
    }

    .carve_body_text img {
        width: 109% !important;
    }

    .fristSectionImageHw {
        width: 100%;
        height: 38%;
        object-fit: fill;
    }

    .secondSectionHeaderOne {
        font-size: 30px !important;
    }

    .secondSectionHeaderTwo {
        font-size: 18px;
    }

    .tab-heading {
        font-size: 30px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        font-size: 14px !important;
    }

    .horizontal-menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "Anek Bangla", sans-serif;
        font-size: 15px;
        line-height: 19px;
    }

    .circle-background {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: rgba(13, 12, 12, 0.59);
        border-radius: 50%;
        background-color: rgb(251, 250, 250);
        font-size: 11px;
    }

    .menu {
        font-size: 12px !important;
    }

    .img-fluidss {
        width: 92%;
    }
}

@media (max-width: 1040px) and (min-width: 992px) {
    .menu {
        font-size: 10px !important;
    }
    .carveNextSectionMargin .gegabit_card_item{
        border-right: none !important;
    }

}

@media (max-width: 899px) and (min-width: 768px) {
    .carve-text {
        background-color: rgba(27, 27, 27, 0.6);
        color: white;
        padding-right: 15px;
    }
    .tab_section{
        padding-top: 60px;
    }
    .menu {
        font-size: 12px !important;
    }

    .dropdown-item {
        font-size: 12px !important;
    }
    .card-img-wrapper {
        position: relative;
        width: 100%;
        padding-top: 110%;
        overflow: hidden;
    }

    .img-fluidss {
        width: 97%;
    }
}

@media (max-width: 992px) {
    .custom-bg {
        height: auto;
        margin-bottom: 20px;
    }
    .carveNextSectionMargin .gegabit_card_item {
        border-right: none !important;

    }
    .new-content-wrapper {
        padding: 0 15px;
        position: relative;
    }
    .news_section{
        padding-left: 0px;
        padding-right: 0px;
    }
    .plus-icon.text-center.py-5 {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
    .carved-img{
        background-image: none;
    }
}

@media (max-width: 768px) {
    .menu {
        font-size: 13px !important;
    }
    .footer-2-text {
        border-top:2px solid #f97700;
        width: 100%;
    }
    p.paragrapSecondSec {
        width: 100% !important;
    }
    .dropdown-item {
        font-size: 13px !important;
    }

    #carouselExampleControls .carousel-inner .carousel-item img {
        /* height: 300px; */
        object-fit: fill;
        padding-top: 0px;
    }

    .sliderMargin {
        margin-top: 66px !important;
    }

    .horizontal-menu li {}

    .horizontal-menu_2 li {
        text-align: left;
        padding-left: 0px !important;
    }

    .footerLogo {
        margin-top: 2px;
    }

    .right-2 {
        text-align: left;
        padding-left: 48px !important;
    }

    .gov_logo img {
        max-width: 124px;
        object-fit: fill;
        margin: 10px !important;
    }

    .footerLogo img {
        height: 60px !important;
        width: 60px !important;
    }

    .widLogoText {
        margin-top: 0px !important;
    }

    .social_icon {
        margin-top: -33px !important;
    }

    .marginTopFirstSec {
        margin-top: 10px;
    }

    .fristSectionImage {
        height: 60%;
    }

    .content {
        padding: 0px 0px 0px 20px;
    }

    .service {
        padding-top: 25px;
        padding-bottom: 0px;
    }

    .serviceImg p {
        color: rgb(0, 67, 130);
        font-size: 12px;
        font-weight: 700;
    }

    .carved-section {
        margin-top: -264px;
        clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%) !important;
    }
    .secondSectionHeaderOne {
        font-size: 28px;
    }

    .parentSecFistDiv {
        padding: 0px 12px 0px 8px;
    }

    .secondDivMarPadding {
        padding: 0px 30px;
    }

    .carveNextSectionMargin {
        margin-top: 30px !important;
    }

    .carved-section {
        padding: 10px 0px 0px;
    }

    .card-body {
        padding-bottom: 57px;
    }

    .flexCardImg {
        margin: 0px 0px 25px;
    }

    .carve_body {
        padding-top: 29px !important;
    }
    .carve_body p {
        font-size: 15px;
    }
    .carve_body_text {}

    .carve_body_text img {
        width: 65% !important;
    }

    .carve-text h5 {
        border-bottom: 2px solid rgb(249, 119, 0);
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .CardColum {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .fristSectionImageHw {
        width: 100%;
        height: 120%;
        object-fit: fill;
    }

    .tab-heading {
        font-size: 28px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        font-size: 15px !important;
    }

    .icon-bar {
        height: 200px;
        width: 200px;
    }

    .box {
        text-align: center;
        border-radius: 10px !important;
        padding: 10px !important;
    }

    .box img {
        width: 100%;
        border-radius: 9px;
    }

    .carve-col {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    .updestsBtn {
        display: inline-block;
        padding: 10px 15px;
        background-color: rgb(245, 245, 245);
        color: rgb(51, 51, 51);
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        line-height: 18.8px;
        border: 1px solid rgb(185, 185, 185);
        font-family: Arial !important;
    }

    .carousel-caption{
        width: 80%;
        left: 7%;
    }
    .logo_section_text {
        margin-top: 50px;
        padding-top: 20px !important;
    }
}

@media (max-width: 640px) {
    #carouselExampleControls .carousel-inner .carousel-item img {
        /* height: 300px; */
        object-fit: fill;
    }

    .sliderMargin {
        margin-top: 66px !important;
    }

    .horizontal-menu li {}

    .horizontal-menu_2 li {
        text-align: left;
        padding-left: 0px !important;
    }

    .gov_logo img {
        max-width: 100px;
        object-fit: fill;
    }

    .parentSecFistDiv {
        padding-top: 24px;
    }

    .marginCarveSection {
        background-image: none !important;
    }

    .carved-section {
        clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
        margin-top: -200px;
    }

    .fristSectionHeadingTwo {
        font-size: 25px;
        line-height: 40px;
    }

    .marginCarveSection {
        margin-top: 200px;
        margin-bottom: 43px;
    }

    .upodestaP {
        /* font-size: 14px; */
    }

    .flexText {
        /* font-size: 12px; */
    }

    .carve_body_text img {}

    .carve_body {
        padding-top: 29px !important;
    }

    .fristSectionImageHw {
        width: 95%;
        height: 130%;
        object-fit: fill;
    }

    .tab-heading {
        font-size: 28px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        width: 100%;
        font-size: 13px !important;
    }

    .box {
        text-align: center;
        padding: 10px;
        border-radius: 10px !important;
    }

    .box img {
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .carve-col {
        margin-top: 0rem !important;
    }

    button#pills-home-tab {
        width: 100%;
    }

    .fristSectionImage img {
        height: auto !important;
    }

    .serviceImg img {
        height: auto;
        width: 65px;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    button#pills-profile-tab {
        width: 100%;
    }
    .logo_section_text p {
        width: 90%;
        margin: auto;
        line-height: 150%;
    }
    #carouselExampleControls .carousel-inner .carousel-item img {
        /* height: 300px; */
        object-fit: fill;
    }
    .carousel-caption {
        width: 70%;
        left: 0%;
    }
    .custom-carousel-content h1 {
        font-weight: bold;
        font-size: 17px !important;
        line-height: 23px !important;
    }
    .backgroundImageFrist {
        background-image: url("../images/bangladesh.png");
        background-size: 90% 90%;
        background-repeat: no-repeat;
        /* z-index: 1000; */
    }

    .sliderMargin {
        margin-top: 66px !important;
    }

    .left {
        text-align: left;
        margin-top: 18px !important;
        margin-left: 0px !important;
    }
    .backgroundImageFrist .content {
        padding-top: 34px;
    }

    .footerLogoText {
        font-size: 15px;
        font-weight: bold;
        /* margin-left: 12px !important; */
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .horizontal-menu_2 {
        margin-top: 10px !important;
    }

    .horizontal-menu_2 li {
        text-align: left;
        padding-left: 0px !important;
    }

    .right-2 {
        text-align: left;
        padding-left: 21px !important;
    }

    .gov_logo img {
        max-width: 100px;
        object-fit: fill;
        margin: 0px !important;
    }

    .footer-2-text {
        text-align: left !important;
        padding-left: 33px !important;
        padding-right: 44px !important;
    }

    .social_icon {
        margin-top: -16px !important;
    }

    .marginCarveSection {
        margin-top: 179px;
        margin-bottom: 5px;
        padding: 30px 7px;
    }

    .secondSectionHeaderOne {
        text-align: center;
        color: rgb(0, 67, 130);
        font-weight: bold;
        font-size: 26px !important;
    }
    .flexCardImg {
        margin: 0px -12px 13px -10px;
    }
    .carveNextSectionH3 {
        margin-top: 15px;
    }
    .carve_body {
        padding-top: 29px !important;
    }

    .firstSectionBtn {
        padding: 8px 12px;
        font-size: 15px;
    }

    .secondSectionHeaderTwo {
        font-size: 14px !important;
    }

    .tab-heading {
        font-size: 25px !important;
        margin-bottom: 0px !important;
    }

    .tab-heading {
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }

    .tab_option {
        font-size: 14px !important;
    }
    .fristSectionDescription {
        color: rgb(72, 72, 72);
        font-size: 14px;
        text-align: justify;
    }
    .fristSectionImage img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 90%;
        height: 80%;
        object-fit: fill;
    }

    .video-container {
        padding: 0px 5px;
    }

    .logos_section {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .circle-background {}

    .carve_body_text img {
        width: 70% !important;
    }

    .carve_body_text_1 {
        padding-left: 30px;
    }

    .carve_body_text_2 {
        padding-left: 35px;
    }

    .box {
        text-align: center;
        padding: 10px;
        border-radius: 10px !important;
    }

    .box img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .tab_option {
        font-size: 10px !important;
    }

    .social-tab {
        padding-top: 30px;
        width: 100% !important;
    }
    .blog-right {
        padding: 28px 20px;
    }
}

@media (max-width: 475px) {
    #carouselExampleControls .carousel-inner .carousel-item img {
        /* height: 200px; */
        object-fit: fill;
    }

    .navImage {
        height: 40px !important;
        width: 40px !important;
    }

    .sliderMargin {
        margin-top: 56px !important;
    }

    .navbar-toggler {
        padding: 2px !important;
    }

    .horizontal-menu li {}

    .horizontal-menu_2 li {
        text-align: left;
        padding-left: 0px !important;
    }

    .gov_logo img {
        max-width: 80px;
        object-fit: fill;
    }

    .btn_1 {
        margin-top: 10px !important;
    }

    .btn_2 {
        margin-top: 10px !important;
    }

    .footerLogo {
        /* display: none; */
    }

    .social_icon ul li a {
        padding-left: 2px !important;
    }

    .secondDivMarPadding {
        padding: 0px 25px !important;
    }

    .slick-prev,
    .slick-next {
        margin-top: 100px;
    }

    .carve_body {
        padding-top: 20px !important;
    }

    .carve-text h5 {
        border-bottom: 2px solid rgb(249, 119, 0);
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .carve_body p {
        font-size: 9px;
    }

    .check_icon.fa-check {
        padding-top: 0px;
    }

    .tab-heading {
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }

    .tab-content {
        padding-top: 0px !important;
    }

    .tab_option {
        font-size: 12px !important;
    }

    .fristSectionImageHw {
        object-fit: fill;
        width: 100% !important;
        height: 115% !important;
    }

    .marginLeft {
        margin-left: 0px !important;
    }

    .carve_body_text img {
        width: 85% !important;
    }

    .carve_body_text_1 {
        padding-left: 10px;
    }

    .carve_body_text_2 {
        padding-left: 20px;
    }

    .box {
        text-align: center;
        padding: 10px;
        border-radius: 10px !important;
    }

    .box img {
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .social-tab {
        padding-top: 30px;
        width: 100% !important;
    }
    .padding-energy {
        padding: 5px 2px !important;
    }

    .icon-bar {
        height: 120px;
        width: 120px;
    }
}