@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400;600;700;800&display=swap"); body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Anek Bangla", sans-serif;
}

ul {
    list-style: none;
}

.sectionOverflow {
    overflow: hidden;
}

.carveNextSectionH3 {
    font-size: 30px;
    color: rgb(249, 119, 0);
    font-weight: bold;
    margin-top: 25px;
    line-height: 160%;
}

.carveNextSectionP {
    font-size: 18px;
}

.carveNextSectionMargin {
    margin-top: -120px;
}

.scrolled {
    background-color: rgb(0, 50, 66);
}

.footerLogo {
    padding-right: 12px;
}

.footer-logo-items {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo-items:hover {
    color: rgb(249, 119, 0);
}

.navbarTextP {
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.gmailText:hover {
    color: rgb(249, 119, 0);
    text-decoration: underline;
}

.buttonNav:hover {
    background-color: rgba(195, 225, 233, 0.5);
}

.btn-outline-light:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(18, 38, 56);
    border-color: rgb(248, 249, 250);
}

.jonoprioSeba:hover {
    color: rgb(249, 119, 0);
}

.socialMediaIconNav {
    text-decoration: none;
}

.buttonNavBan {
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    background-color: rgba(195, 225, 233, 0.5);
    border: 1px solid rgb(195, 225, 233);
    padding: 3px 18px;
    border-radius: 3px;
}

.buttonNav {
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    padding: 3px 18px;
    border: 1px solid rgb(195, 225, 233);
    border-radius: 3px;
}

.iconFristNavRihhtSide {
    color: rgb(195, 225, 233);
}

.background_color_nav {
    background-color: transparent !important;
}

#carouselExampleControls .carousel-inner .carousel-item img {
    width: 100%;
}

a#dropdownMenuButton1 {
    cursor: pointer;
}

.navImage {
    height: 50px;
    width: 50px;
}

.navbarHeaderText {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.menu {
    font-size: 16px;
    color: rgb(255, 255, 255) !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 6.5rem;
    transform: translateY(-50%);
    padding: 20px;
    color: rgb(255, 255, 255);
    width: 45%;
    max-width: 450px;
    text-align: start;
}

.custom-carousel-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 150%;
    padding-top: 26px;
}

.custom-carousel-content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 170%;
}

.custom-carousel-content a.btn-slider {
    display: block;
    padding: 10px 20px;
    background-color: rgb(249, 119, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
}

.custom-carousel-content a.btn-slider:hover {
    background-color: rgb(0, 67, 130);
}

.custom-btn-width {
    width: 150px;
}

.carousel-control-next, .carousel-control-prev {
    width: 7% !important;
}

.firstSectionBtn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 119, 0);
    transition: background-color 0.3s ease 0s;
}

.firstSectionBtn:hover {
    background-color: rgb(0, 86, 179);
    color: rgb(255, 255, 255);
}

.carousel-inner-imgs {
    padding-top: 40px;
}

.backgroundImageFrist {
    background-image: url("../images/bangladesh.png");
    background-size: 60% 90%;
    background-repeat: no-repeat;
}

.backgroundImageFrist .content {
    background-color: rgba(255, 255, 255, 0.004);
}

.fristSectionHeadingOne {
    font-size: 16px;
    color: rgb(249, 119, 0);
    border-left: 4px solid rgb(255, 0, 0);
}

.all-phn-num-items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.all-phn-num-items {
    align-items: center;
}

.all-phn-num-items span {
    color: rgb(255, 255, 255);
}

.all-phn-num-items a:hover {
    color: rgb(249, 119, 0);
}

.marginLeft {
    font-size: 16px;
    color: rgb(249, 119, 0);
    border-left: 4px solid rgb(255, 0, 0);
    margin-left: 0px;
}

.fristSectionHeadingTwo {
    color: rgb(0, 67, 130);
    font-size: 32px;
    line-height: 150%;
    font-weight: bold;
}

.fristSectionDescription {
    color: rgb(72, 72, 72);
    font-size: 16px;
    text-align: justify;
    width: 95%;
    line-height: 30px;
}

.firstSecheaderLine {
    font-size: 16px;
    line-height: 27px;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.headLineDescription {
    font-size: 16px;
    border-bottom: 1px solid rgb(217, 217, 217);
    padding-bottom: 5px;
    line-height: 30px;
}

.img-container, .text-container {
    height: 200px;
}

.img-container {
    display: flex;
    align-items: center;
}

.marginTopFirstSec {
    margin-top: -100px;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/frame.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 11;
}

.carved-section {
    background-color: rgb(244, 253, 255);
    padding: 10px 0px 100px;
    clip-path: polygon(0% 10%, 100% 0px, 100% 90%, 0% 100%);
    margin-top: -200px;
}

.marginCarveSection {
    margin-top: 220px;
    margin-bottom: 20px;
    background-image: url("../images/carvebg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.secondSectionHeaderOne {
    text-align: center;
    color: rgb(0, 67, 130);
    font-weight: bold;
    font-size: 40px;
}

.secondSectionHeaderTwo {
    text-align: center;
    color: rgb(72, 72, 72);
    font-size: 24px;
    border-bottom: 2px dotted rgb(249, 119, 0);
    padding: 0px 20px 20px;
    margin: 0px 35px;
    line-height: 150%;
}

.service {
    padding-top: 60px;
    padding-bottom: 50px;
}

.serviceImg img {
    height: 65px;
    width: 65px;
    margin-top: 20px;
}

.serviceImg p {
    color: rgb(0, 67, 130);
    font-size: 18px;
    padding: 32px 15px 0px;
    font-weight: 500;
    margin-bottom: 0px;
}

.parentSecFistDiv {
    padding: 0px 50px 0px 89px;
}

.secondSectionSecHeadLine {
    font-size: 22px;
    line-height: 27px;
    color: rgb(0, 67, 130);
    font-weight: bold;
}

.borderFristSection {
    border-top: 2px solid rgb(249, 119, 0);
    padding-top: 1rem;
}

.montronanaySongbad {
    font-size: 25px;
    color: rgb(0, 67, 130);
}

.custom-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.secondDivMarPadding {
    padding: 0px 50px;
}

.flexCardImg {
    margin: 0px 0px 40px 18px;
}

.img-fluidss {
    width: 87%;
}

.updestsBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    line-height: 13.8px;
    border: 1px solid rgb(185, 185, 185);
}

.updestsBtn:hover {
    background-color: rgb(0, 86, 179);
    color: rgb(255, 255, 255);
}

.upodestaP {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 3px;
    margin: 0px;
}

.flexText {
    padding: 0px;
    font-size: 12px;
    margin: 0px 0px 5px;
}

.footer {
    background-color: rgb(0, 67, 130);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.left {
    font-size: 16px;
}

.horizontal-menu li {
    padding: 5px 0px;
}

ul.horizontal-menu_2 li {
    padding: 5px 0px;
}

.horizontal-menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 21px;
    transition: all 0.3s ease 0s;
}

.horizontal-menu_2 li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 21px;
}

.horizontal-menu_2 li a:hover {
    color: rgb(249, 119, 0);
}

.footerLogoText {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px !important;
}

.widLogoText {
    font-size: 16px;
}

.right-2 {
    text-align: end;
}

.footer-2-text {
    border-top: 3px solid rgb(249, 119, 0);
    width: 60%;
    margin: auto;
    text-align: center !important;
}

.horizontal-menu li a:hover {
    color: rgb(249, 119, 0);
}

.tab-heading {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 67, 130);
    text-align: center;
}

.custom-tab .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(249, 119, 0);
    color: rgb(51, 51, 51);
    transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.custom-tab .nav-tabs .nav-item .nav-link:hover, .custom-tab .nav-tabs .nav-item .nav-link.active {
    border-bottom: 4px solid rgb(249, 119, 0);
    color: rgb(249, 119, 0);
}

.custom-tab-link .nav-link {
    border: none;
}

.slick-prev, .slick-next {
    font-size: 24px;
    color: rgb(249, 119, 0);
    margin-top: 10rem;
}

.carved-img {
    background-image: url("../images/carve-img.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.video-container {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url("../images/play.png") center center / cover no-repeat;
    cursor: pointer;
}

.play-icon:hover {
    opacity: 0.7;
}

.carve-text {
    background-color: rgba(27, 27, 27, 0.6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.carve-text h5 {
    border-bottom: 1px solid rgb(249, 119, 0);
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.carve_body p {
    font-size: 12px;
    color: rgb(240, 239, 239);
}

.carve-col {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.check_icon {
    font-size: 11px;
}

.check_icon p {
    margin-bottom: 5px;
}

.carve_body {
    padding-top: 29px !important;
}

.gov_logo {
    background-color: rgb(217, 217, 217);
    justify-content: center !important;
    text-align: center !important;
}

.gov_logo img {
    max-width: 138px;
    object-fit: fill;
    margin: 10px;
}

.logos_section {
    background-color: rgba(255, 255, 255, 0.79);
    margin-top: 43px !important;
}

.logos_section h4 {
    font-weight: bold;
    font-size: 18px;
    color: rgb(51, 51, 51);
}

.logos_section p {
    font-size: 16px;
    line-height: 31px;
    color: rgb(51, 51, 51);
}

.swiper-slide img {
    margin: 15px;
    border-radius: 10px;
}

.logo_section_text {
    padding-bottom: 50px !important;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.logo_section_text p {
    width: 80%;
    margin: auto;
    line-height: 150%;
}

.logo_section_text h4 {
    border-bottom: 2px solid rgb(249, 119, 0);
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

.btn_1 {
    background-color: rgb(249, 119, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.btn_2 {
    background-color: rgb(0, 67, 130) !important;
    color: rgb(255, 255, 255) !important;
}

.btn_1, .btn_2 {
    margin-right: 20px;
}

.logo_buttons .btn {
    margin-right: 0px;
}

.blog_section_img img {
    width: 100%;
}

.blog_section p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(92, 94, 97);
}

li.nav-item.borderNone {
    margin-left: 15px;
}

.icon-bar {
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    z-index: 999;
    width: 100;
}

.icon-bar img {
    width: 150px;
    /* height: 70%; */
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: rgb(0, 0, 0);
}

.btn_1:hover {
    background-color: rgb(214, 113, 18) !important;
}

.btn_2:hover {
    background-color: rgb(38, 105, 168) !important;
}

.blueHover:hover {
    color: rgb(0, 67, 130) !important;
}

.borderJonoPrioSeba {
    border: 1px solid rgb(185, 185, 185);
}

.borderJonoPrioSeba:hover {
    border: 1px solid rgb(0, 67, 130);
}

.circle-background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    color: rgba(13, 12, 12, 0.59);
    border-radius: 50%;
    background-color: rgb(251, 250, 250);
    font-size: 12px;
    width: 16px !important;
}

.horizontal-menu {
    padding: 0px;
}

.carve_body_text img {
    width: 100% !important;
}

.cta-list {
    display: grid;
    align-items: center;
    gap: 4%;
    font-size: 16px;
    padding: 5px 0px;
    grid-template-columns: 10% 86%;
}

p.paragrapSecondSec {
    line-height: 175%;
    font-size: 16px;
}

.custom-btn-yellow {
    background-color: rgb(249, 119, 0) !important;
}

.nav-pills .nav-link {
    border-radius: 0rem !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 67, 130) !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.borderNone {
    border: none !important;
}

.borderNone:hover {
    border: none;
}

.padding-emrd {
    padding: 8px 40px !important;
}

.ministryOfPowerColor {
    color: rgb(51, 51, 51) !important;
}

.ministryOfEnergyColor {
    color: rgb(51, 51, 51) !important;
}

.scialMediaColor {
    color: rgb(51, 51, 51) !important;
}

.social-sites, .custom-twitter-widget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.powerDivision-slider {
    height: fit-content !important;
}

.nav-tabs .nav-link.active {
    border-bottom: 1px solid rgb(214, 113, 18);
    color: rgb(214, 113, 18) !important;
}

.list-unstyled-item li {
    margin-bottom: 15px;
    display: inline-flex;
}

.logo-wrapper .logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo-wrapper a {
    text-decoration: none;
}

.tab_section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.carveNextSectionMargin .gegabit_card_item {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 20px;
}

.new-content-wrapper {
    padding: 0px 50px;
    position: relative;
}

.plus-icon.text-center.py-5 {
    font-size: 27px;
    color: rgb(214, 113, 18);
}
