@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;700&amp;display=swap");

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow-x: hidden; */
    /* font-family: Anek Bangla; */
    font-family: "Kalpurush";
}
ul {
    list-style: none;
}

.sectionOverflow {
    overflow: hidden;
}

.carveNextSectionH3 {
    font-size: 30px;
    color: #f97700;
    font-weight: bold;
    margin-top: 25px;
}

.carveNextSectionP {
    font-size: 18px;
}

.carveNextSectionMargin {
    margin-top: -120px;
}

.carveNextSectionMargin .p-3 {
    position: relative;
    z-index: 2;
    /* Adjust the value as needed */
}

.scrolled {
    background-color: rgb(0, 50, 66);
}

.sliderMargin {
    margin-top: 40px;
}

.fristNavbar {
    /* padding-top: 12px; */
    /* height: 40px; */
    /* padding-bottom: 40px; */
}

.navbarTextP {
    color: #ffffff;
    font-size: 13px;
}

.gmailText:hover {
    color: #f97700;
    text-decoration: underline;
}

.buttonNav:hover {
    background-color: rgba(195, 225, 233, 0.5);
}

.btn-outline-light:hover {
    color: #000;
    background-color: #122638;
    border-color: #f8f9fa;
}

.jonoprioSeba:hover {
    color: #f97700;
}

.socialMediaIconNav {
    text-decoration: none;
}

.buttonNavBan {
    color: #ffffff;
    /* font-family: Anek Bangla; */
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    background-color: rgba(195, 225, 233, 0.5);
    border: 1px solid #c3e1e9;
    padding: 3px 18px 3px 18px;
    border-radius: 3px;
}

.buttonNav {
    color: #ffffff;
    /* font-family: Anek Bangla; */
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    border: none;
    padding: 3px 18px 3px 18px;
    border: 1px solid #c3e1e9;
    border-radius: 3px;
}

.iconFristNavRihhtSide {
    color: #c3e1e9;
}

.background_color_nav {
    background-color: transparent !important;
}

#carouselExampleControls .carousel-inner .carousel-item img {
    /* height: 600px; */
    object-fit: fill;
}

/* .navbar-nav li.nav-item:hover {
    border-bottom: 2px solid orange;
} */

.navImage {
    height: 74px;
    width: 74px;
}

.navbarHeaderText {
    font-size: 24px;
    color: #ffffff;
}

.menu {
    font-size: 14px;
    color: #ffffff !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 6.5rem;
    transform: translateY(-50%);
    padding: 20px;
    color: #fff;
    width: 45%;
    max-width: 450px;
    text-align: start;
}

.custom-carousel-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    /* font-family: Anek Bangla; */
    line-height: 48px;
}

.custom-carousel-content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 22px;
}

.custom-carousel-content a.btn-slider {
    display: block;
    padding: 10px 20px;
    background-color: #f97700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
}

.custom-carousel-content a.btn-slider:hover {
    background-color: #004382;
}

.custom-btn-width {
    width: 150px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 7% !important;
}

/* first Section */

.firstSectionBtn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 0px;
    color: #fff;
    background-color: #f97700;
    transition: background-color 0.3s;
}

.firstSectionBtn:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.backgroundImageFrist {
    background-image: url("../images/bangladesh.png");
    background-size: 60% 90%;
    background-repeat: no-repeat;
    z-index: 1000;
}

.backgroundImageFrist .content {
    background-color: rgba(255, 255, 255, 0.002);
}

.fristSectionHeadingOne {
    font-size: 16px;
    color: #f97700;
    border-left: 4px solid #ff0000;
}

.marginLeft {
    font-size: 16px;
    color: #f97700;
    border-left: 4px solid #ff0000;
    margin-left: 0px;
}

/* .fristSectionImageHw {
    width: 81%;
    height: 55%;
    object-fit: fill;
} */

.fristSectionHeadingTwo {
    color: #004382;
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
}

.fristSectionDescription {
    color: #484848;
    font-size: 16px;
    text-align: justify;
    width: 85%;
}

.firstSecheaderLine {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    font-weight: bold;
    margin-bottom: px;
}

.headLineDescription {
    font-size: 13px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
}

.img-container,
.text-container {
    height: 200px;
}

.img-container {
    display: flex;
    align-items: center;
}

.marginTopFirstSec {
    margin-top: -100px;
    z-index: 1000;
    background-color: #fff;
    background-image: url("../images/frame.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.carved-section {
    background-color: #f4fdff;
    padding: 1px 0px 100px 0px;
    clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0% 100%);
    /* margin-top: -200px; */
}

.marginCarveSection {
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url("../images/carvebg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* padding-top: 50px; */
}

.secondSectionHeaderOne {
    text-align: center;
    color: #004382;
    font-weight: bold;
    font-size: 40px;
}

.secondSectionHeaderTwo {
    text-align: center;
    color: #484848;
    font-size: 24px;
    border-bottom: 2px dotted #f97700;
    padding: 0px 20px 20px 20px;
    margin: 0px 35px;
}

.service {
    padding-top: 60px;
    padding-bottom: 50px;
}

.serviceImg img {
    height: 65px;
    width: 65px;
    margin-top: 20px;
}

.serviceImg p {
    color: #004382;
    font-size: 18px;
    padding: 32px 15px 0px 15px;
    font-weight: 500;
}

.parentSecFistDiv {
    padding: 0px 50px 0px 89px;
}

.secondSectionSecHeadLine {
    font-size: 22px;
    line-height: 27px;
    color: #004382;
    font-weight: bold;
}

.borderFristSection {
    border-top: 2px solid #f97700;
    padding-top: 1rem;
    /* margin-top: 1.5rem; */
}

.montronanaySongbad {
    font-size: 25px;
    color: #004382;
}

.imergency-contact-img{
    padding-top: 50px;
    /* z-index: 99998; */
    
}
.imergency-contact-img img{
    width: 100%;
}

/* .fristSectionImage {
    height: 70%;
} */
/*
.fristSectionImage {
    background-color: red;
    position: relative;
    width: 100%;
    height: 70%;
    1:1 Aspect Ratio
}

.fristSectionImageHw {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 10px;
} */

.custom-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.ServiceColum {
    margin-bottom: 25px;
}

.secondDivMarPadding {
    padding: 0px 50px;
}

.flexCardImg {
    margin: 0px 0px 40px 18px;
}

.img-fluidss{
    width: 87%;
}


.updestsBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333333;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    line-height: 13.8px;
    border: 1px solid #b9b9b9;
    font-family: Arial !important;
}

.updestsBtn:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.upodestaP {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial !important;
    padding: 0;
    margin: 0;
    padding-bottom: 3px;
}

.flexText {
    padding: 0;
    font-size: 12px;
    margin: 0px 0px 5px 0px;
    font-family: Arial !important;
}

/* footer */

.footer {
    background-color: #004382;
    color: #ffffff;
    overflow: hidden;
}

.left {
    font-size: 16px;
}

.horizontal-menu li a {
    text-decoration: none;
    color: #ffffff;
    /* font-family: "Anek Bangla", sans-serif; */
    font-size: 16px;
    line-height: 21px;
    transition: 0.3s;
}

.horizontal-menu_2 li a {
    text-decoration: none;
    color: #ffffff;
    /* font-family: "Anek Bangla", sans-serif; */
    font-size: 16px;
    line-height: 21px;
}

.footerLogoText {
    font-size: 16px;
    font-weight: bold;
}

.widLogoText {
    font-size: 16px;
}

.right-2 {
    text-align: end;
}

.footer-2-text {
    text-align: center !important;
}

.horizontal-menu li a:hover {
    color: #f97700;
}

/* nnn */
/* tab section */
.tab-heading {
    font-size: 40px;
    font-weight: bold;
    color: #004382;
    text-align: center;
}

.custom-tab .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f97700;
    color: #333;
    transition: color 0.3s, border-color 0.3s;
}

.custom-tab .nav-tabs .nav-item .nav-link:hover,
.custom-tab .nav-tabs .nav-item .nav-link.active {
    border-bottom: 4px solid #f97700;
    color: #f97700;
}

.custom-tab-link .nav-link {
    border: none;
    /* Remove the border */
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #f97700;
    margin-top: 10rem;
}

/* carvedimg */
.carved-img {
    background-image: url("../images/carve-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.video-container {
    position: relative;
    margin-top: 60px;
}
.video-containerss {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 800px; 
    padding-top: 56.25%; 
    margin-top: 40px;
  }
  .video-containerss iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url("../images/play.png") no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.play-icon:hover {
    opacity: 0.7;
}

.carve-text {
    background-color: rgba(27, 27, 27, 0.6);
    color: white;
    /* padding: 10px; */
    padding-left: 20px;
    padding-right: 20px;
}

.carve-text h5 {
    border-bottom: 1px solid #f97700;
    /* margin-left: 10%;
    margin-right: 8%; */
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.carve_body p {
    font-size: 12px;
    color: #f0efef;
}

.carve-col {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

/*
.carve_body_text {
    margin-left: 33px !important;

}

.carve_body_text img {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
} */

.check_icon {
    font-size: 11px;
}

.check_icon p {
    margin-bottom: 5px;
}

.carve_body {
    padding-top: 29px !important;
}

/* logo */
.gov_logo {
    background-color: #d9d9d9;
    justify-content: center !important;
    text-align: center !important;
}

.gov_logo img {
    max-width: 138px;
    object-fit: fill;
    margin: 10px;
}

/* .swiper {
    width: 600px;
    height: 300px;
} */

.logos_section {
    margin-top: 43px !important;
    background-color: rgb(255 255 255 / 79%);
}

.logos_section h4 {
    /* font-family: "Anek Bangla", sans-serif; */
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

.logos_section p {
    /* font-family: "Anek Bangla", sans-serif; */
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

.swiper-slide img {
    margin: 15px;
    border-radius: 10px;
}
.swiper-slide .imergency-contact-img img {
    margin: 0px;
    border-radius: 10px;
}
.swiper {
    overflow-x: hidden;
}
.emergencySwiper .swiper-pagination {
    position: inherit;
    margin-top: 35px;
}
.emergencySwiper .swiper-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    color: rgb(0, 67, 130);
}

.logo_section_text {
    justify-content: center;
    text-align: center;
}

.logo_section_text h4 {
    border-bottom: 2px solid #f97700;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.btn_1 {
    background-color: #f97700 !important;
    color: #fff !important;
}

.btn_2 {
    background-color: #004382 !important;
    color: #fff !important;
}

.btn_1,
.btn_2 {
    margin-right: 20px;
    /* Adjust the margin value to create the desired space */
}

/* Override Bootstrap's default button margins */
.logo_buttons .btn {
    margin-right: 0;
}

.blog_section p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #5c5e61;
}

.blog_section {
    padding-left: 52px;
    padding-right: 19px;
}

/* .blog_section_img img {
    width: 100%;
    height: 80%;
} */

.icon-bar {
    position: fixed;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99999;
}

.icon-bar img {
    width: 70%;
    height: 70%;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.btn_1:hover {
    background-color: #d67112 !important;
}

.btn_2:hover {
    background-color: #2669a8 !important;
}

.blueHover:hover {
    color: #004382 !important;
}

.borderJonoPrioSeba {
    border: 1px solid #b9b9b9;
}

.borderJonoPrioSeba:hover {
    border: 1px solid #004382;
}

/* new */
.carve_body_text img {
    /* margin-top: 0.8rem !important;
    margin-left: 0.8rem !important; */
    /* width: 50%; */
}

.circle-background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px !important;
    height: 16px;
    color: #0d0c0c96;
    border-radius: 50%;
    background-color: #fbfafa;
    font-size: 12px;
}
.horizontal-menu {
    padding: 0;
}
.carve_body_text img {
    width: 100% !important;
}
.cta-list {
    display: grid;
    align-items: center;
    gap: 4%;
    font-size: 16px;
    padding: 5px 0;
    grid-template-columns: 10% 86%;
}

/* .carve_body_text {
    margin-left: 30px !important;
    margin-right: 33px !important;
} */

.custom-btn-yellow {
    background-color: #f97700 !important;
}

.nav-pills .nav-link {
    border-radius: 0rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #004382 !important;
}

.nav-link {
    color: #ffffff !important;
}
.borderNone {
    border: none !important;
}
.borderNone:hover {
    border: none;
}
.padding-emrd {
    padding: 8px 40px 8px 40px !important;
}
.ministryOfPowerColor {
    color: #333333 !important;
}
.ministryOfEnergyColor {
    color: #333333 !important;
}

.scialMediaColor {
    color: #333333 !important;
}
.social-sites,
.custom-twitter-widget {
    display: flex;
    justify-content: center;
    align-items: center;
}
.powerDivision-slider {
    height: fit-content !important;
}
.nav-tabs .nav-link.active {
    border-bottom: 1px solid #d67112;
    color: #d67112 !important;
}
